<h3 class="valign-wrapper departures">
  <%= @from.display_name %>
  &nbsp; <i class="material-icons">arrow_forward</i> &nbsp;
  <%= @to.display_name %>
  &nbsp;
  <a href="<%= departures_url(@to, @from) %>" data-turbo="false" class="valign-wrapper departures">
    <i class="material-icons">swap_horiz</i>
  </a>
</h3>

<ul class="collection with-header">
  <li class="collection-header">
    <div class="row">
      <div class="col s2">in (min.)</div>
      <div class="col s7"></div>
      <div class="col s1">Should arrive</div>
    </div>
  </li>

  <% @dp.departures.each do |d| %>
    <%= render partial: "departure", locals: { d: d } %>
  <% end %>
</ul>
