<li class="collection-item">
  <%= link_to journey[:link], class: "valign-wrapper journey" do %>
    <%= journey[:from].tei_name %>
    &nbsp; <i class="material-icons">arrow_forward</i> &nbsp;
    <%= journey[:to].tei_name %>
  <% end %>
</li>
