<li class="collection-item">
  <%= link_to departures_url(journey[:from], journey[:to]), class: "valign-wrapper journey", data: { turbo: false } do %>
    <%= journey[:from].display_name %>
    &nbsp; <i class="material-icons">arrow_forward</i> &nbsp;
    <%= journey[:to].display_name %>
  <% end %>
</li>
