<div class="row">
  <%= form_with url: map_url, class: "col s8" do |form| %>
    <div class="row">
      <% if @bus_route.nil? %>
        <%= render partial: "journey" %>
      <% else %>
        <%= render partial: "bus_route" %>
      <% end %>
    </div>
  <% end %>
</div>
