<div>
  <% if !@from.nil? %>
    From: <%= @from ? @from.tei_name : "" %>
  <% end %>

  <% if !@to.nil? %>
    To: <%= @to ? @to.tei_name : "" %>
  <% end %>

  <% if !@from.nil? %>
    <a href="#" data-action="click->map#resetJourney">clear</a>
  <% end %>

  <% if !@to.nil? %>
    <% url = "/departures/#{@from.id}/#{@to.id}" %>
    <a href="<%= url %>" data-turbo="false">search</a>
  <% end %>
  &nbsp;
</div>
