<h1>Editing bus route</h1>

<%= render "form", bus_route: @bus_route %>

<br>

<div>
  <%= link_to "Show this bus route", @bus_route %> |
  <%= link_to "Back to bus routes", bus_routes_path %>
</div>
